body {
    margin: 0;
    padding: 0;
    background-color: rgb(76, 76, 76);
}

main {
    height: 100vh;
    max-width: 30rem;
    background-color: rgb(176, 176, 176);
    display: flex;
    flex-direction: column;

}

.section-group {
    display:flex;
    flex-direction: column;
}

.group-1 {
    height: 38rem;
    border-bottom: 1px grey solid;
}

.group-2 {
    height: 100%;
}

section {
    height: 6rem;
    background-color: rgb(198, 79, 79);
    background: linear-gradient(to bottom,  #c9de96 0%,#8ab66b 44%,#398235 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

    
}

#top{
    display: flex;
    justify-content: space-between;
}

#content {
    height:100%;
    display: flex;
}

.style-photo {
    width: 50%;
    background-color: bisque;
    background-image: url(./images/IMG_0910.PNG) ;
    background-size: contain;
    background-repeat:no-repeat;
    background-position: center;
}

.nails-photo {
    width: 50%;
    background-color: rgb(255, 178, 84);
}

#materials {
    height: 100%;
}






.result {
    margin-top: 20px;
}
.color-box {
    width: 50px;
    height: 50px;
    display: inline-block;
    margin: 5px;
    border-radius: 50%;
}
.color-label {
    text-align: center;
    margin-top: -10px;
    margin-bottom: 20px;
}
