body {
    margin: 0;
    padding: 0;
    background-color: rgb(76, 76, 76);
}

main {
    height: 100vh;
    max-width: 30rem;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
}

.section-group {
    display: flex;
    flex-direction: column;
}

.group-1 {
    height: 38rem;
    /* border-bottom: 1px grey solid; */
    display: flex;
    flex-direction: column;
}

.group-2 {
    flex: 1;
}

section {
    height: 6rem;
    background-color: rgb(255, 255, 255);
    /* background: linear-gradient(to bottom,  #c9de96 0%,#8ab66b 44%,#398235 100%); */
}

#top {
    display: flex;
    height: fit-content;
    justify-content: space-between;
    flex-shrink: 0; /* Предотвращает сжатие */
    padding: 1.1rem 1.5rem;
}

#content {
    flex: 1;
    display: flex;
}

.style-photo {
    width: 50%;
    background-color: rgb(255, 255, 255);
    background-image: url(./images/launch_1.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    overflow: hidden;
}


.nails-photo {
    width: 50%;
    background-color: rgb(255, 255, 255);
    position: relative;
    display: flex;
    align-items: end;
}

.nails-photo img {
    width: 100%;
    position: absolute;
}

#colorResults {
    display: flex;
    padding: 1.1rem 1.5rem;
}

#materials {
    display: flex;
    height: 100%;
    padding: 1.1rem 1.5rem;
}

#imageCanvas {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
    margin: auto;
}

.result {
    margin-top: 20px;
}

.color-box {
    width: 60px;
    margin: 0rem 0.8rem;
    height: 60px;
    display: inline-block;
    border-radius: 0.7rem;
    color: azure;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    flex-direction: column;
}

.color-box div:nth-child(1){
    font-size: 1rem;
}

.color-box div:nth-child(2){
    font-size: 1.5rem;
}
.color-label {
    text-align: center;
    margin-top: -10px;
    margin-bottom: 20px;
}

.divider {
    width: 25rem;
    margin: auto;
    height: 1.6px;
    background-color: rgb(189, 189, 189);
}

#materials .color-box {
    cursor: pointer;
}

#materials .color-box:hover {
    transform: scale(1.1);
}